* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}





/* grids */

#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    align-items: center;
    justify-content: center;

    grid-template-areas: 
    "gaHeadline     gaHeadline  gaPicture"
    "gaQuote        gaQuote     gaPicture"
    "gaProfile      gaProfile   gaContact"
    "gaExp          gaExp       gaExp";
}

#experience-grid { 
    display: grid;
    grid-area: gaExp;
    row-gap: 20px;
    column-gap: 50px;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "gaCode         gaCode"
    "gaDB           gaDB"
    "gaWeb          gaDesign";
}

#headline {
    grid-area: gaHeadline;
}

#student-picture {
    grid-area: gaPicture;
    margin: auto;
    text-align: center;
}

#student-quote {
    grid-area: gaQuote;
}

#student-profile {
    grid-area: gaProfile;
}

#student-contact {
    grid-area: gaContact;
    margin: auto;
    text-align: center;
}




#experience-code {
    grid-area: gaCode;
}

#experience-database {
    grid-area: gaDB;
}

#experience-web {
    grid-area: gaWeb;
}

#experience-design {
    grid-area: gaDesign;
}









@media screen and (max-width: 1024px) {
    #main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 35px;
        align-items: center;
        justify-content: center;
    
        grid-template-areas: 
        "gaHeadline     gaHeadline"
        "gaQuote        gaPicture"
        "gaQuote        gaContact"     
        "gaProfile      gaProfile"
        "gaExp          gaExp";        
    }    

    #experience-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        align-items: center;
        justify-content: center;

        grid-template-areas: 
        "gaCode         gaWeb"
        "gaDB           gaDesign";
    }
}









@media screen and (max-width: 450px) {
    #main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 35px;
        align-items: center;
        justify-content: center;
    
        grid-template-areas: 
        "gaHeadline"
        "gaPicture"
        "gaContact"
        "gaQuote"  
        "gaProfile"
        "gaExp";        
    }    

    #experience-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        align-items: center;
        justify-content: center;

        grid-template-areas: 
        "gaCode"         
        "gaWeb"
        "gaDB"
        "gaDesign";
    }
}